.hero {
  position: relative;
  text-align: center;
  color: white;
}

.hero-image {
  width: 100%;
  height: 300px;
  object-fit: cover;
  filter: brightness(70%);
}

.hero-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3rem;
  color: #fff;
}

.section {
  padding: 20px;
  background-color: #fff;
  margin: 20px 0;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.section h2 {
  font-family: 'Roboto', sans-serif;
  color: #ffc005;
  border-bottom: 2px solid #ffc005;
  padding-bottom: 10px;
  margin-bottom: 15px;
}

.section p,
.section ul {
  font-family: 'Lato', sans-serif;
  color: #4a4a4a;
  line-height: 1.6;
}

.section ul {
  list-style-type: none;
  padding: 0;
}

.section ul li {
  margin-bottom: 10px;
}

.section ul li strong {
  color: #111827;
}

.gallery {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
}

.gallery img {
  max-width: 200px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}