/* Estilos adicionais para a página específica */
.travel-guide {
    display: flex;
    gap: 20px;
    margin-bottom: 40px;
    margin-top: 40px;

}
.profile {
    flex-shrink: 0;
    text-align: center; 
}
.profile img {
    border-radius: 50%;
    max-width: 100px;
}
h1, h2 {
    font-family: 'Roboto', sans-serif;
    color: #ffc005;
    margin-top: 0;
}
p {
    margin: 1em 0;
    line-height: 1.6;
}
a {
    color: #007BFF;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}